<div *ngIf="categoryOptions; else errorBlock">
  <mat-form-field class="form-element">
    <mat-select
      placeholder="Select a category"
      id="categorySelect"
      #categorySelect
    >
      <mat-option
        *ngFor="let category of categoryOptions"
        [value]="category.id.toString()"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-element">
    <mat-select
      placeholder="Select difficulty"
      id="difficultySelect"
      #difficultySelect
    >
      <mat-option
        *ngFor="let difficulty of difficultyOptions"
        [value]="difficulty.value"
      >
        {{ difficulty.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      id="createBtn"
      (click)="submit(categorySelect.value, difficultySelect.value)"
      [disabled]="!categorySelect.value || !difficultySelect.value"
    >
      Create
    </button>
  </div>
</div>
<!--si da tiempo-->
<ng-template #errorBlock> <mat-spinner></mat-spinner> </ng-template>
