<ng-container *ngIf="triviaQuestions">
  <app-q-and-a
    (addAnswerInfo)="getSelectedAnswers($event)"
    *ngFor="let question of triviaQuestions"
    [questionData]="question"
    [resultsMode]="resultsMode"
  ></app-q-and-a>

  <button
    class="submit-btn"
    *ngIf="showButton && !resultsMode"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="submit()"
  >
    Submit
  </button>

  <div *ngIf="resultsMode && submittedAnswers" class="result-text">
    <p>{{ totalScoreLiteral }}</p>
  </div>
</ng-container>
