<ng-container *ngIf="trivialQuestions">
  <app-q-and-a
    (addAnswerInfo)="getSelectedAnswers($event)"
    *ngFor="let question of trivialQuestions"
    [questionData]="question"
    [resultsMode]="resultsMode"
  ></app-q-and-a>

  <button
    class="submit-btn"
    *ngIf="showButton && gameMode && !resultsMode"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="submit()"
  >
    Submit
  </button>

  <div *ngIf="resultsMode && !gameMode && submittedAnswers" class="result-text">
    <p>{{ totalScoreLiteral }}</p>
  </div>

  <!--boton-->
</ng-container>
