<div *ngIf="questionData" class="question">
  <h3>{{ questionData.question | quotationMarks }}</h3>
  <mat-button-toggle-group
    name="questionData"
    [(ngModel)]="selectedAnswer"
    (change)="submitAnswer()"
    [disabled]="resultsMode"
  >
    <mat-button-toggle
      *ngFor="let answerOption of questionData?.allAnswers"
      [value]="answerOption"
      [ngStyle]="{
        'background-color': resultsMode ? getBtnColor(answerOption) : undefined,
        color: 'black'
      }"
    >
      {{ answerOption | quotationMarks }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
